FruitPaoku/FruitPaoku/.settings
FruitPaoku/FruitPaoku/frameworks
FruitPaoku/FruitPaoku/runtime
FruitPaoku/UI/FruitPaokuUI/Backup
FruitPaoku/Sdk/proj.android/obj
FruitPaoku/Sdk/proj.android/bin
Hopscotch/Hopscotch/.settings
Hopscotch/Hopscotch/frameworks
Hopscotch/Hopscotch/runtime
Hopscotch/UI/HopscotchUI/Backup
Hopscotch/Sdk