FruitPaoku/FruitPaoku/.settings
FruitPaoku/FruitPaoku/frameworks
FruitPaoku/FruitPaoku/runtime
FruitPaoku/UI/FruitPaokuUI/Backup
FruitPaoku/Sdk/FruitPaoku/.settings
FruitPaoku/Sdk/FruitPaoku/res
FruitPaoku/Sdk/FruitPaoku/runtime
FruitPaoku/Sdk/FruitPaoku/src
FruitPaoku/Sdk/FruitPaoku/.buildpath
FruitPaoku/Sdk/FruitPaoku/.project
FruitPaoku/Sdk/FruitPaoku/config.json
FruitPaoku/Sdk/FruitPaoku/frameworks/cocos2d-x
FruitPaoku/Sdk/FruitPaoku/frameworks/runtime-src/Classes
FruitPaoku/Sdk/FruitPaoku/frameworks/runtime-src/proj.android_no_anysdk
FruitPaoku/Sdk/FruitPaoku/frameworks/runtime-src/proj.ios_mac
FruitPaoku/Sdk/FruitPaoku/frameworks/runtime-src/proj.win32
FruitPaoku/Sdk/FruitPaoku/frameworks/runtime-src/proj.wp8-xaml
FruitPaoku/Sdk/FruitPaoku/frameworks/runtime-src/proj.android/obj
FruitPaoku/Sdk/FruitPaoku/frameworks/runtime-src/proj.android/bin