<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guankaxuanze_jianzhushitou4.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhushitou3.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>89</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhushitou2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhushitou1.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhu1.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>436</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>436</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhu2.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>453</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>453</integer>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhu3.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>206</integer>
				<key>x</key>
				<integer>707</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhu4.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>634</integer>
				<key>originalWidth</key>
				<integer>185</integer>
				<key>originalHeight</key>
				<integer>634</integer>
				<key>x</key>
				<integer>967</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_jianzhu5.png</key>
			<dict>
				<key>width</key>
				<integer>447</integer>
				<key>height</key>
				<integer>776</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>776</integer>
				<key>x</key>
				<integer>1154</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_yuanjing3-2.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>637</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>712</integer>
				<key>x</key>
				<integer>1603</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>218</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>guankaxuanze_yuanjing3.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>712</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>712</integer>
				<key>x</key>
				<integer>1809</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-263</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_yuanjing2.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>527</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>527</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>778</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_yuanjing1.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>778</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_xingxing.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>778</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guankaxuanze_ditu.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>1138</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>1138</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>778</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>guankaxuanze0.png</string>
			<key>realTextureFileName</key>
			<string>guankaxuanze0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>