<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Room_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,83}}</string>
                <key>sourceSize</key>
                <string>{658,83}</string>
            </dict>
            <key>Room_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{47,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,83}}</string>
                <key>sourceSize</key>
                <string>{47,83}</string>
            </dict>
            <key>Room_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{47,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,83}}</string>
                <key>sourceSize</key>
                <string>{47,83}</string>
            </dict>
            <key>Room_floor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{94,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,16}}</string>
                <key>sourceSize</key>
                <string>{94,16}</string>
            </dict>
            <key>Room_ornament_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,87},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>Room_ornament_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,87},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>Room_ornament_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,87},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>Room_ornament_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,87},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>Room_ornament_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,87},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>Room_ornament_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,87},{91,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,32}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>Room_special_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,87},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>Room_special_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,87},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>Room_special_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,87},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>Room_special_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,87},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>Room_special_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{593,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,16}}</string>
                <key>sourceSize</key>
                <string>{593,16}</string>
            </dict>
            <key>Room_specialbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,167},{78,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,14}}</string>
                <key>sourceSize</key>
                <string>{78,14}</string>
            </dict>
            <key>Room_specialbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,167},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>Room_specialbg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,167},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>Room_specialbg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,167},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>Room_specialbg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,167},{16,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,83}}</string>
                <key>sourceSize</key>
                <string>{16,83}</string>
            </dict>
            <key>Room_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,167},{17,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,85}}</string>
                <key>sourceSize</key>
                <string>{17,85}</string>
            </dict>
            <key>Room_window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_window_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,254},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_window_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,254},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_window_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,254},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Room.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e1c243263254a5f4bbf82e98d43d8a$</string>
            <key>textureFileName</key>
            <string>Room.png</string>
        </dict>
    </dict>
</plist>
