<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Room_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,89},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,89},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{47,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,83}}</string>
                <key>sourceSize</key>
                <string>{47,83}</string>
            </dict>
            <key>Room_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{47,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,83}}</string>
                <key>sourceSize</key>
                <string>{47,83}</string>
            </dict>
            <key>Room_floor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Room_floor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,89},{94,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,16}}</string>
                <key>sourceSize</key>
                <string>{94,16}</string>
            </dict>
            <key>Room_ornament_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>Room_ornament_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>Room_ornament_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>Room_ornament_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>Room_ornament_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>Room_ornament_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{91,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,32}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>Room_special_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>Room_special_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>Room_special_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{593,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,16}}</string>
                <key>sourceSize</key>
                <string>{593,16}</string>
            </dict>
            <key>Room_specialbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{78,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,14}}</string>
                <key>sourceSize</key>
                <string>{78,14}</string>
            </dict>
            <key>Room_specialbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>Room_specialbg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>Room_specialbg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>Room_specialbg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,83}}</string>
                <key>sourceSize</key>
                <string>{16,83}</string>
            </dict>
            <key>Room_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{17,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,85}}</string>
                <key>sourceSize</key>
                <string>{17,85}</string>
            </dict>
            <key>Room_window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,89},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_window_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,89},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_window_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,89},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>Room_window_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,89},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Room.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b3e97f3b78069ed2347bbfb5be854ae$</string>
            <key>textureFileName</key>
            <string>Room.png</string>
        </dict>
    </dict>
</plist>
