<?xml version="1.0" encoding="UTF-8"?>
<?plist version="1.0"?>
<dict>
    <key>animations</key>
    <dict>
        <key>RoleJump_1</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>role1_1.png</string>
                <string>role1_2.png</string>
                <string>role1_3.png</string>
            </array>
        </dict>
    </dict>
</dict>
